# --- my_chat_app/config.yaml ---
# Application mode - determines default settings
application_mode: "development"  # Options: "development" or "production"

# Other app settings 
providers:
  IONOS:
    api_key_env: IONOS_API_KEY  # Environment variable name
    base_url: "https://openai.inference.de-txl.ionos.com/v1"
    models: ["meta-llama/Llama-3.3-70B-Instruct", "meta-llama/CodeLlama-13b-Instruct-hf", "mistralai/Mistral-7B-Instruct-v0.3"]
    default_model: "meta-llama/Llama-3.3-70B-Instruct"
  GOOGLE:
    api_key_env: GOOGLE_API_KEY
    base_url: "https://generativelanguage.googleapis.com/v1beta/openai/"
    models: ["gemini-2.5-pro-exp-03-25", "gemini-2.0-flash-lite", "gemini-2.0-flash", "gemini-1.5-flash"]
    default_model: "gemini-2.5-pro-exp-03-25"
  OLLAMA:
    api_key: "ollama"  # Not really an API key, but for consistency
    base_url: "http://localhost:11434/v1"
    models: ["llama3.2", "deepseek-r1", "starcoder2"]
    default_model: "llama3.2"

common_instructions: |
  Think carefully and say 'I don't know' if unsure.
  Unless asked differently, you always reply in British English.

personas:
  Default: |
    You are a helpful assistant who thinks before answering and says 'I don't know' if unsure.
  Web Developer Expert: |
    You are a skilled Web developer with expertise in HTML, CSS, and Javascript.
    Provide high-quality code solutions, guide users on best practices, and troubleshoot common issues.
  Python Guru: |
    You are a Python expert helping with debugging.
    Prioritise simple solutions, explain errors clearly, and relate to Bash when possible.
  Linux Sysadmin: |
    You are a Linux system administrator with expertise in Linux distributions, mainly Debian and Ubuntu.
    Provide expert advice on Linux configuration, troubleshooting, and best practices.
  Healthy Chef: |
    You are a Healthy Chef and gym expert.
    Provide healthy recipes that are high in protein and low in fat and fitness advice.
  Trip Expert: |
    You are a trip expert with a focus on nature, trekking, and light packing.
    Provide advice on outdoor adventures, hiking trails, and eco-friendly travel.

html_sanitization:
  allowed_tags: [a, abbr, acronym, b, blockquote, code, em, i, li, ol, strong, ul, pre, h1, h2, h3, h4, h5, h6, p, img]
  allowed_attributes:
    a: [href, title]
    img: [src, alt]
    code: [class]
    pre: [class]


